<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TodoList01.Properties.Settings.todoConnectionString"
            connectionString="server=localhost;user id=root;password=1234;database=todo"
            providerName="MySql.Data.MySqlClient" />
        <add name="TodoList01.Properties.Settings.achievedConnectionString"
            connectionString="server=localhost;user id=root;password=1234;database=achieved"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>